body {
    background-image: url('../../public/splah_background.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(252, 236, 236);
    font-family: sans-serif;
    font-weight: bold;
  }

.splashMainHeader{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 50px;
}

.splashSubHeader{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: -2%;
    margin-bottom: 50px;
}


.splashButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 20px;
    padding:12px 20px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid #ccc;
    position: absolute;
    left: 45%;
}
