.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chatArea{
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    outline-width: 0;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
    overflow-y: scroll;
}

.chatArea > form > input{
    padding: 15px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    width: 100%;
    font-size: large;
}

.chatArea > form{
    flex:1
}

.chatSubmitBtn{
    display: none;
}

.chatMessages{
    flex:1;
    overflow-y: scroll;
}


.messageCard{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.messageCard:hover{
    background-color: #474b53;
    cursor: text;
}
