.linksContainer {
    display: inline;
    white-space: nowrap;
    align-items: space-between;
    justify-content: center;
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-45%);
}

.theDevs {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.devicon-github-original {
    gap:5px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.devicon-linkedin-plain{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    color: white;
}

p{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.pipe{
    padding-left: 10px;
    font-style: bold;
}
