.sideBar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
}

.sideBarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sideBarChannels{
    flex:1;

}

#serverDropDown{
    cursor:pointer;
}
#channelDropDown{
    cursor:pointer;
    margin-right: 5px;
}

#addChannel{
    cursor:pointer;
}

fas fa-plus:hover{
    color:white
}

.sideBarChannelName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sideBarChannelNameText{
    display: flex;
    align-items: center;
}

.sideBarUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
    border-top: 1px solid gray;
}

.sideBarUserName{
    flex:1;
    padding:10px
}

.sideBarUserName > h3{
    color: white;
}

.logoutIcon{
    padding:10px;
}

.logoutIcon:hover{
    cursor:pointer;
}
