.sideBar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
    overflow-y: scroll;

}

.sideBarTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
    overflow: scroll;
    height: 30vh;


}

/* Server Container */
#serversHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    color: gray;

}

#addServer{
    cursor: pointer;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    color: gray;
}

.serverCard{
    display:flex;
    align-items: center;
    flex-direction:row;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 13px;

}

.server-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://res.cloudinary.com/dxo7djnid/image/upload/v1636757375/ignored/discord_server_icons/minecraft_discord_server_icon_nsp4a4.png");
    background-size: cover;
    /* z-index: 0; */
}

.serverCard-clickable-button{
    height: 50px;
    width: 50px;
    /* background-color: blue; */
    border-radius: 50%;
    /* background-image: url("https://res.cloudinary.com/dxo7djnid/image/upload/v1636757375/ignored/discord_server_icons/minecraft_discord_server_icon_nsp4a4.png"); */
    /* z-index: 0; */
}

.h3-server-name{
    height:10px;
    width:100%;
    padding-left: 5px;
    padding-bottom: 15px;
}

.server-delete-button{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
}

.sideBarChannels{
    flex:1;
    overflow-y: scroll;

}

#serverDropDown{
    cursor:pointer;
}


#addChannel{
    cursor:pointer;
}

fas fa-plus:hover{
    color:white
}

.sideBarChannelName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
    background-color: #2f3135;
    color: rgb(170, 170, 170);
}

.sideBarChannelNameText{
    display: flex;
    align-items: center;
}

.sideBarUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
    border-top: 1px solid gray;
}

.sideBarUserName{
    flex:1;
    padding:10px
}

.sideBarUserName > h3{
    color: white;
}

.logoutIcon{
    padding:10px;
}

.logoutIcon:hover{
    cursor:pointer;
}

.sidebarChannel:hover > h4{
  color: white;
  background-color: #40464b;
}

.sidebarChannel > h4{
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}

.sidebarChannelHash{
  font-size: 30px;
  padding:8px;
}
