.sideBar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
    overflow-y: scroll;

}

.sideBarTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
    overflow: scroll;
    height: 30vh;


}

/* Server Container */
#serversHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;

}

#addServer{
    cursor: pointer;
}

.serverCard{
    display:flex;
    align-items: center;
    flex-direction:row;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 13px;

}

.serverIcon{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;

}

.serverName{
    height:10px;
    width:100%
}

.sideBarChannels{
    flex:1;
    overflow-y: scroll;

}

#serverDropDown{
    cursor:pointer;
}


#addChannel{
    cursor:pointer;
}

fas fa-plus:hover{
    color:white
}

.sideBarChannelName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
    background-color: #2f3135;
    color: rgb(170, 170, 170);
}

.sideBarChannelNameText{
    display: flex;
    align-items: center;
}

.sideBarUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
    border-top: 1px solid gray;
}

.sideBarUserName{
    flex:1;
    padding:10px
}

.sideBarUserName > h3{
    color: white;
}

.logoutIcon{
    padding:10px;
}

.logoutIcon:hover{
    cursor:pointer;
}
